body {
 background-color: #ecfdff;
}

.navWidth {
  width: 100%;
}
* {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  ;
}

a {
  font-family: 'Quicksand', sans-serif;
}

p {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  font-weight: normal;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
  font-stretch: ultra-expanded;
  font-size: 32px;
  text-align: center;
  margin: 20px;
  margin-bottom: 20px;
}

nav {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}
svg {
  height: 60;
  width: 60;
}
.largerLinks {
  font-size: 40px;
  margin-left: 20px;
}
.card-text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-title {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 24px;
}
.col-md-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.row {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
@media (min-width: 1200px) {
  .container {
      max-width: 100%;  
  }
}
@media (max-width: 768px) {

  .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 80%;
    max-width: 80%;
  }
  .row {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 80%;
    max-width: 80%;
  }
}